.animateStopAtEnd:hover {
  animation: bump 0.5s ease-in-out;
}
@keyframes slideIn {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(330deg);
  }
}

@keyframes bump {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-0.5rem);
  }
}
